.header{
  padding:30px 10px;
  border-bottom: 2px double #FF3232;

}

.flex{
  display:flex;
  align-items: center;
}

.title{
  font-size:30px;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
}

@media screen and (max-width:600px){
  .title{
    font-size:20px;
    text-align:center;
  }

  .flex{
    justify-content:center;
  }
}
