.main{
  font-size: 18px;
  color: rgb(53, 46, 55);
  padding: 10px 30px;
  border:  5px solid #827351;
  border-radius:8px;
  background-color:rgba(200, 200, 200, 0.3);
  margin: 20px 0px
}

.main p{
  white-space: pre-wrap;
  text-align:left;
  line-height:200%;
  font-size:20px;
}

@media screen and (max-width: 600px){
  .main{
    margin:10px;
    padding:10px;
    margin:20px 0px;
  }

  .main p{
    font-size:10px;
  }
}
