.barArea{
  display:flex;
  justify-content:space-between;
  max-width:90%;
}

.image{
  object-fit: contain;
    position: relative !important;
    height: 100px !important;
    width:auto !important;
}

.maskArea,
.nomaskArea{
  padding:10px;

}

.maskArea p{
  background-color:#FF3232;
}

.nomaskArea p{
  background-color:#7232FF;
}


.maskArea p,
.nomaskArea p{
  color:white;
  margin:0 10px;
  padding:30px 0;
  width:100%;
  font-size:30px;
  text-align: center;
}

.anime{
  display:flex;
  animation-name: fadeInAnime;/*1で解説*/
  animation-fill-mode:forwards;/*2で解説*/
  animation-duration:3s;/*3で解説*/
  animation-direction:normal;/*7で解説*/
}

@keyframes fadeInAnime {
0%{
  opacity:0;
  width:0%;
  }

5%{
  opacity:1;
}

100%{
  width:100%;
  }
}
