.barArea{
  display:flex;
  justify-content:space-between;
  max-width:90%;
  margin:0 auto;
}

.image{
  object-fit: contain;
    position: relative !important;
    height: 100px !important;
    width:auto !important;
}

.maskArea,
.nomaskArea{
  padding:10px;

}

.maskArea p{
  background-color:#FF3232;
}

.nomaskArea p{
  background-color:#7232FF;
}


.maskArea p,
.nomaskArea p{
  color:white;
  margin:0 10px;
  padding:30px 0;
  width:100%;
  font-size:30px;
  text-align: center;
}

.anime{
  display:flex;
  animation-name: lefttoRightAnime;
  animation-fill-mode:forwards;
  animation-duration:3s;
  animation-direction:normal;
}

@keyframes lefttoRightAnime {
0%{
  opacity:0;
  width:0%;
  }

5%{
  opacity:1;
}

100%{
  width:100%;
  }
}

@keyframes righttoLeftAnime {
  from{
    clip-path: inset(0 0 0 100%);
  }
  to{
    clip-path: inset(0 0 0 0);
  }
}
