.form{
    width:90%;
    margin: 50px auto 0;
    padding:50px;
    text-align: center;
    position:relative;
}

.form img{
  z-index:-3;
}

.Headline{
  position:absolute;
  background-color:#F2F0E9;
  top:20px;
  left:100px;
  padding:10px;
  font-size:30px;
  border:2px solid #F2F0E9;
}

.inputArea{
  margin:0 auto;
  border:  5px solid #827351;
  padding:40px;
  border-radius:10px;
}

.inputArea input{
  margin: 0 auto;
  text-align:center;
  display: block
}

.fileInput {
  font-size:25px;
    border: 3px dotted #FC0002;
    border-radius:10px;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 100px;
    position: relative;
}

.fileInput input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.prefInput{
  margin-top:40px;
  font-size:20px;
}

.prefInput select{
    border: 3px solid #FC0002;
    padding:5px;
}

.previewImage{
  width:100%;
}

.submitButton{
    margin-top:70px;
    padding:10px 20px;
    background-color: rgba(255, 0, 0, 0.05);
    border: 3px solid #FC0002;
    border-radius:10px;
    font-size:25px;
}
